<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus facilis culpa accusantium quia fugiat tempora eum tempore, vero neque rem atque aut harum esse possimus officiis numquam itaque consectetur sit.     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos odio fuga, laborum magni ducimus ut accusantium atque molestiae at minus optio quasi quaerat distinctio qui placeat inventore aspernatur itaque vel!
</p>
